<div>
    <div class="container header-width container-padding">
        <div class="row">
            <div class="col-md-12 col-xs-12 no-padding">
                <a href="http://cn.mikecrm.com/wveAjvx">
                    <img class="img-responsive" src="../image/jjc/city-partner.jpg" alt="什么是咖布集城市合伙人?咖布集“城市合伙人”集聚全国合伙人之力与合伙人共生共存，共建餐饮行业新生态。咖布集城市合伙人或在全国各大中心城市，寻找有梦想的有实力想创业的从业者，一起打造城市集散中心服务站。旨在为城市的餐饮行业提供更便利更优惠的原辅料设备供应链体系。城市合伙人在咖布集总部的辅导下进行运营获取最大收益。">
                </a>
            </div>
        </div>
    </div>
</div>