<div>
    <div class="track-rcol">
        <div class="track-list">
            <ul>
                <li class="{{$index==0?'first':''}}" ng-repeat="obj in arr">
                    <i class="node-icon"></i>
                    <span class="time">{{obj.time}}</span>
                    <span class="txt">{{obj.info}}</span>
                </li>
                <!--<li>-->
                    <!--<i class="node-icon"></i>-->
                    <!--<span class="time">2016-03-10 18:07:15</span>-->
                    <!--<span class="txt">【京东到家】京东配送员【申国龙】已出发，联系电话【18410106883，感谢您的耐心等待，参加评价还能赢取京豆呦】</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="node-icon"></i>-->
                    <!--<span class="time">2016-03-10 18:07:15</span>-->
                    <!--<span class="txt">感谢您在京东购物，欢迎您再次光临！</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="node-icon"></i>-->
                    <!--<span class="time">2016-03-10 18:07:15</span>-->
                    <!--<span class="txt">感谢您在京东购物，欢迎您再次光临！</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="node-icon"></i>-->
                    <!--<span class="time">2016-03-10 18:07:15</span>-->
                    <!--<span class="txt">感谢您在京东购物，欢迎您再次光临！</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="node-icon"></i>-->
                    <!--<span class="time">2016-03-10 18:07:15</span>-->
                    <!--<span class="txt">感谢您在京东购物，欢迎您再次光临！</span>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
