
    <div class="container">
        <div class="col-md-12 content-top">
            <p class="content-top-tile">填写核对订单信息</p>
        </div>
        <div class="col-md-12 content">
            <p class="content-tile">收货信息</p>
            <div class="col-md-8">
                <form role="form">
                    <div class="form-group content-form">
                        <div class="col-sm-2">
                            <label for="name" class="content-form-title">收货人</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group content-form">
                        <div class="col-sm-2">
                            <label class="content-form-title">收货地址</label>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option value="0" >辽宁</option>
                                <option value="1" >黑龙江</option>
                                <option value="2" >吉林</option>
                                <option value="3" >河北</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option value="0" >辽宁</option>
                                <option value="1" >黑龙江</option>
                                <option value="2" >吉林</option>
                                <option value="3" >河北</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group content-form">
                        <div class="col-sm-2">
                            <label for="address" class="content-form-title">详细地址</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" placeholder="街道名称/楼宇小区/单位名称/房间">
                        </div>
                    </div>
                    <div class="form-group content-form">
                        <div class="col-sm-2">
                            <label for="phone" class="content-form-title">手机号码</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="phone" placeholder="常用手机号码">
                        </div>
                    </div>
                    <div class="form-group content-form">
                        <div class="col-sm-2">
                            <label for="tel" class="content-form-title">固定电话</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="tel" placeholder="区号">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="tel" placeholder="电话号">
                        </div>
                    </div>
                    <div class="form-group content-form">
                        <div class="col-sm-offset-2 col-sm-10" style="padding-left: 36px;">
                            <label class="checkbox"><input type="checkbox" /> 设置常用地址</label>
                        </div>
                    </div>
                    <div class="form-group content-form">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn-u btn-u-orange submit">确定</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
