
    <div class="container" style="background-color: #fff5f5; padding-bottom: 20px">
        <div class="row">
            <div class="col-md-12" align="center">
                <div style="padding-top: 30px;padding-bottom: 30px;">
                    <i class="fa fa-check icon-custom icon-sm rounded-x icon-color-green"></i>
                    <p style="font-size: 20px">
                        订单已生成,请于24小时内完成支付
                    <span style="font-size: 15px; color:red">
                        (逾期订单将被取消)
                    </span>
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div style="padding-left: 20px;padding-right: 20px">
                    <div class="address">
                        <div style="position:absolute; top: 25%">
                            <p>
                                <i class="icon-pointer icon-md"></i>
                                送货至 辽宁省 大连市 甘井子区高新园区广贤路30号2#
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div style="padding-top: 20px; padding-left: 20px;">
                    <p style="float: left; margin-right: 10px">应付金额<span style="color:red">￥78</span></p>
                    <p style="float: left; margin-right: 10px"><input type="radio" value="在线支付" name="pay" checked> 在线支付</p>
                    <p style="float: left; margin-right: 10px"><input type="radio" value="商家月结" name="pay"> 商家月结</p>
                </div>
            </div>
            <div class="col-md-12 board-box" style="margin-left:3%;width: 94%">
                <div>
                    <div class="col-md-12">
                        <div style="border-bottom: 1px solid grey">
                            <h4>支付宝平台</h4>
                        </div>
                        <div>
                            <div class="card">
                                <input type="radio" value="支付宝" name="card" checked>
                                <img ng-src="jjc/assets/images/card.jpg" alt="支付宝">
                            </div>
                            <div class="card">
                                <input type="radio" value="微信支付" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="微信支付">
                            </div>
                            <div class="card">
                                <input type="radio" value="在线支付" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="在线支付">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div style="border-bottom: 1px solid grey">
                            <h4>支付网银</h4>
                        </div>
                            <div class="card">
                                <input type="radio" value="支付宝" name="card" checked>
                                <img ng-src="jjc/assets/images/card.jpg" alt="支付宝">
                            </div>
                            <div class="card">
                                <input type="radio" value="微信支付" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="微信支付">
                            </div>
                            <div class="card">
                                <input type="radio" value="在线支付" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="在线支付">
                            </div>
                            <div class="card">
                                <input type="radio" value="支付宝" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="支付宝">
                            </div>
                            <div class="card">
                                <input type="radio" value="微信支付" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="微信支付">
                            </div>
                            <div class="card">
                                <input type="radio" value="在线支付" name="card">
                                <img ng-src="jjc/assets/images/card.jpg" alt="在线支付">
                            </div>
                        </div>

                    <div class="col-md-12">
                        <div class="card">
                            <input type="radio" value="支付宝" name="card">
                            <img ng-src="jjc/assets/images/card.jpg" alt="支付宝">
                        </div>
                        <div class="card">
                            <input type="radio" value="微信支付" name="card">
                            <img ng-src="jjc/assets/images/card.jpg" alt="微信支付">
                        </div>
                        <div class="card">
                            <input type="radio" value="在线支付" name="card">
                            <img ng-src="jjc/assets/images/card.jpg" alt="在线支付">
                        </div>
                        <div class="card">
                            <input type="radio" value="支付宝" name="card">
                            <img ng-src="jjc/assets/images/card.jpg" alt="支付宝">
                        </div>
                        <div class="card">
                            <input type="radio" value="微信支付" name="card">
                            <img ng-src="jjc/assets/images/card.jpg" alt="微信支付">
                        </div>
                        <div class="card">
                            <input type="radio" value="在线支付" name="card">
                            <img ng-src="jjc/assets/images/card.jpg" alt="在线支付">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12" style="padding-left: 50px; padding-top: 30px;">
                <p><i class="fa fa-list-alt icon-sm"></i>
                    订单编号 8797617087812
                    <a href="#" style="margin-left: 5px">查看订单</a>
                    <a href="#" style="margin-left: 5px">修改地址</a>
                    <button class="btn-u btn-u-red" type="button" style="float:right">立即支付</button>
                </p>
            </div>

        </div>

    </div>
