<div>
    <div class="container" style="padding-bottom: 60px">
        <div class="row" style="border: 1px solid #eee;padding-bottom: 20px;margin-top: 70px">
            <div class="col-md-10 col-md-offset-1" style="border-bottom: 1px #eee solid;margin-top: 15px;padding: 0">
                <h2 style="text-align: center;color: #555">咖布集用户服务规则</h2>
            </div>
            <div class="col-md-12 margin-top-20">
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第一章 概述</h4>
                <p>第一条 为促进开放、透明、分享、责任的新商业文明，保障咖布集用户合法权益，维护咖布集电商平台正常经营秩序，制定本规则。</p>
                <p>第二条 咖布集规则，是对咖布集企业用户和个人用户及合作商家的保障工具。违规行为的认定与处理基于咖布集认定的事实并严格依规执行。所有咖布集用户在适用规则上一律平等。</p>
                <p>第三条 用户应遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本规则已有规定的，适用本规则；本规则尚无规定的，咖布集有权酌情处理。但咖布集对用户的处理不免除其应尽的法律责任。咖布集平台的合作商家的任何行为，应同时遵守与咖布集及其关联公司所签订的各项协议。咖布集有权根据市场情况变更本规则并在网站上予以公告。若合作商家不同意相关变更，立即停止使用咖布集的相关服务或产品。咖布集有权对用户行为及应适用的规则进行单方认定，并据此处理。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第二章定义</h4>
                <p>第四条 咖布集电商网，域名为kbjbuy.com。</p>
                <p>第五条 平台，指具咖布集电商及管理单位。</p>
                <p>第六条 买家，指在咖布集上浏览或购买商品的用户含已经认证的企业用户和个人用户。</p>
                <p>第七条 合作商家，指在咖布集在咖布集平台上销售产品的所有商家。</p>
                <p>第八条 拍下，指买家在咖布集上点击并确认购买的行为。</p>
                <p>第九条 订单，指买家从咖布集一次拍下单款或多款商品的合约。订单中针对任一款商品的内容构成独立的交易。</p>
                <p>第十条 绑定，指咖布集账户与结算账户一一对应。</p>
                <p>第十一条 商品发布数量，指在咖布集上出售的产品在线上仓库中商品款数的总和。</p>
                <p>第十二条 产品上架根据产品分类咖布集合作商家自主在对应的板块上架。</p>
                <p>第十三条 成交，指买家在咖布集上拍下商品并成功付款。</p>
                <p>第十四条 下架，指将出售中的商品因库存等原因暂时暂停销售。</p>
                <p>第十五条 包邮，指合作商家对所售商品承担发货的运费。</p>
                <p>第十六条 节点处理，指当客户或合作商家违规扣分累积达到一定分值时而被执行处理的过程。</p>
                <p>第十七条 退货运费补贴，是指买卖双方在交易过程中，咖布集网对符合退货运费补贴条件的买家因退货产生的单程运费提供补贴的服务。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第三章 账户管理</h4>
                <p>第十八条 用户应当严格遵循咖布集系统设置的注册流程完成注册。</p>
                <p>1） 企业商家用户通过咖布集分配账号，或自行注册按照要求提交资料经全国各地咖布集分公司审核后的的账号。</p>
                <p>2） 普通用户指在咖布集商城注册的个人用户。</p>
                <p>3） 用户名注册后无法自行修改其注册类别。咖布集有权收回未通过实名认证且连续一年未登录咖布集网的用户名。</p>
                <p>第十九条 咖布集网用户账户可与支付宝进行绑定，遵循支付宝使用规则。</p>
                <p>第二十条 咖布集网合作商家的账号由咖布集总部进行分配。</p>
                <p>第二十一条 咖布集合作商家如需增加管理人员可直接联系咖布集客服人员。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第四章 交易</h4>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第一节 经营</h5>
                <p>第二十二条 合作商家需满足以下条件方可在咖布集平台经营销售：</p>
                <p>（一）遵守咖布集平台运营规则，认同其运营理念；</p>
                <p>（二）联系咖布集市场运营部提交真实有效供应商入驻资料及资质；</p>
                <p>（三）等待咖布集网审核通过。</p>
                <p>（四）提交上架产品三个月内的检验报告。</p>
                <p>第二十三条 合作商家应当按照咖布集系统设置的流程和要求发布商品。</p>
                <p>第二十四条 “商品如实描述”对其所售商品质量承担保证责任是合作商家的基本义务。“商品如实描述”是指合作商家在商品描述页面等所有咖布集提供的渠道中，应当对商品的基本属性、瑕疵等必须说明的信息进行真实、完整的描述。合作商家应保证其出售的商品在合理期限内可以正常使用，包括商品不存在危及人身财产安全的不合理危险、具备商品应当具备的使用性能、符合商品或其包装上注明采用的标准等。</p>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第二节 超时规定</h5>
                <p>第二十五条 企业用户、个人用户及合作商家应当按照咖布集系统设置的交易流程进行交易。</p>
                <p>第二十六条 自买家拍下或合作商家最后修改交易条件之时起7天内，除各地咖布集服务商确认收货的外，买家未付款的，交易自动关闭。</p>
                <p>第二十七条 买家自付款之时起，除产品详情页有描述规定订货周期外，其他产品72小时后商家没有点击发货，买家可联系客服申请退单。</p>
                <p>第二十八条 买家申请退单后，依以下情况分别处理：</p>
                <p>（一） 现结客户</p>
                <p>1）商家已经发货：除产品质量外拒绝退货，或同当地的咖布集服务商沟通，双方同意后方可退货。</p>
                <p>2）商家同意退货未退款，买家有权重新申请退款、要求咖布集仲裁介入处理或撤销退款申请去确认收货。</p>
                <p>3）双方沟通换货的交易正常进行。</p>
                <p>（二）月结客户</p>
                <p>交易双方沟通协商解决。</p>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第三节 评价</h5>
                <p>第二十九条 买卖双方有权基于真实的交易在支付成功后七天内进行相互评价。</p>
                <p>第三十条 在信用评价中，评价人若给予好评，则被评价人信用积分按照相应金额增加相应分数；若给予差评，则信用积分按照相应金额减少相应分数；若给予中评，则信用积分不变。评价人可在作出中、差评后的十五天内，对信用评价进行修改。十五天后评价不得修改。咖布集有权删除评价内容中所包含的违反法律或道德的言论。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第五章 市场管理</h4>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第一节 市场管理措施</h5>
                <p>第三十一条 为了提升顾客购物体验，维护咖布集市场正常运营秩序，咖布集按照本规则规定的情形对用户及其经营行为采取以下临时性市场管控措施：</p>
                <p>（一）警告，是指咖布集通过网络、口头或书面的形式对合作商家的不当行为进行提醒和告诫；</p>
                <p>（二）商品下架，是指将合作商家出售中商品转移至线上仓库；</p>
                <p>（三）单个商品搜索降权，是指调整商品在搜索结果中的排序；</p>
                <p>（四）单个商品搜索屏蔽，是指单个商品在搜索结果中不展现；</p>
                <p>（五）单个商品单一维度搜索默认不展示，是指商品信息在按价格、信用、销量等单一维度的搜索结果中默认不展现；</p>
                <p>（六）限制参加营销活动，是指限制合作商家参加咖布集官方发起的营销活动；</p>
                <p>（七）单个商品监管，是指在一定时间内某一商品信息无法搜索、无法购买；</p>
                <p>（八）合作商家绑定的支付收款账户的强制措施，是指对与合作商家的咖布集账户绑定的支付收款账户采取的限制措施，包括但不限于取消收款功能、冻结交易等措施。</p>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第二节 市场管理情形</h5>
                <p>第三十二条 合作商家应积极提升自身经营状况，为消费者提供高品质的商品及优质的服务。对于商品品质好、服务质量高等情形的合作商家，咖布集会适当给予鼓励或扶持的措施。</p>
                <p>第三十三条 咖布集根据合作商家产品的好评率、信誉评分、服务质量等，对低于咖布集指定标准的合作商家限制参加咖布集营销活动。</p>
                <p>第三十四条 用户应遵照咖布集交易流程的各项要求进行交易，合作商家应合理保障买家权益。用户如发生危及交易安全或咖布集账户安全的行为，咖布集将依照其行为的危险程度采取支付账户强制措施、产品下线、限制合作商家登录、限制延长交易时间、限制买家行为、商品屏蔽及商品搜索降权等交易安全保护措施，对其进行临时性的市场管控。</p>
                <p>第三十五条 经新闻媒体曝光或国家质监部门通报是质量不合格的线下某一品牌、品类或批次的商品在咖布集网有销售的， 咖布集将对相关商品信息进行临时性下架或删除。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第六章 通用违规行为及违规处理</h4>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第一节 违规处理措施</h5>
                <p>第三十六条 为保障用户消费者、合作商家的正当权益,咖布集在合作商家违规处理期间咖布集按照本规则规定的情形进行处理：</p>
                <p>（一）对合作商家销售的产品采取屏蔽的措施。</p>
                <p>（二）限制发布商品，指禁止咖布集合作商家发布新商品。</p>
                <p>（三）限制发送站内信，指禁止咖布集合作商家发送站内通信。</p>
                <p>（四）限制社区功能，指禁止咖布集合作商家使用各类社群工具。</p>
                <p>（五）限制买家行为，指禁止咖布集用户购买商品。</p>
                <p>（六）限制使用咖布集互动交流工具，指禁止咖布集用户使用咖布集交流工具。</p>
                <p>（七）限制网站登录，指禁止咖布集合作商家登录咖布集网页。</p>
                <p>（八）挂起产品，指挂起合作商家上架的产品，下架出售中的商品，禁止发布商品，不能正常营业。</p>
                <p>（九）关闭所有产品，指删除咖布集咖布集啊所有合作商家的产品，下架所有出售中的商品，禁止发布商品，并禁止创建新的产品。</p>
                <p>（十）公示警告，指在咖布集用户的商品页面、咖布集站内交流界面，对其正在被执行的处理进行公示。</p>
                <p>（十一）黑名单处罚，是指咖布集合作商家被限制下单、发布留言等权利的一种处罚方式。</p>
                <p>（十二）查封账户，指永久禁止合作商家使用违规账户登录咖布集、使用咖布集站内通讯等工具。</p>
                <p>（十三）其它处理，违反国家相关法律法规的，由国家相关机关依法处理。</p>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第二节 违规处理</h5>
                <p>第三十七条 合作商家发生违规行为的，其违规行为应当纠正，并扣以一定分值。违规扣分在每年的十二月三十一日二十四时清零。因合作商家违规给他人或咖布集带来损失的，由违规合作商家承担一切后果。</p>
                <p>第三十八条 违规行为根据严重程度分为严重违规行为及一般违规行为。</p>
                <p>严重违规行为，是指严重破坏咖布集经营秩序并涉嫌违反国家法律法规的行为。</p>
                <p>一般违规行为，是指除严重违规行为外的违规行为。</p>
                <p>违规行为根据适用的范围分为商品违规，以及交易违规，二者分别扣分、分别累计、分别执行；</p>
                <p>第三十九条 用户违规行为的纠正，是指：</p>
                <p>（一）发布违禁信息的，咖布集有权对用户所发布的违禁商品或信息及因此产生的交易评价进行删除；</p>
                <p>（二）出售假冒商品的，咖布集有权对用户所发布的假冒商品或信息进行删除；</p>
                <p>（三）出售未报关进口商品的，咖布集对用户所发布的未报关进口商品或信息进行删除；</p>
                <p>（四）发布非约定商品的，咖布集有权对用户所发布的非约定商品或信息进行删除；</p>
                <p>（五）盗用他人账户的，咖布集有权收回被盗账户并使原所有人可以通过账户申诉流程重新取回账户；</p>
                <p>（六）泄露他人信息的，咖布集有权对用户所泄露的他人隐私资料的信息进行删除；</p>
                <p>（七）骗取他人财物的，咖布集有权对用以骗取他人财物的商品或信息及因此产生的交易评价进行删除；</p>
                <p>（八）滥发信息的，咖布集有权删除用户所滥发的商品或信息。</p>
                <p>（九）虚假交易中通过不正当方式提高账户信用积分的，咖布集有权删除用户虚假交易产生的评分、信用积分以及其两倍数量的其他信用积分，并下架店铺内所有商品；虚假交易中通过不正当方式提高商品销量的，咖布集有权删除该商品及虚假交易产生的店铺评分；</p>
                <p>（十）描述不符的，合作商家对商品材质、成份、品质等信息的描述与买家收到的商品严重不符，或导致买家无法正常使用的，咖布集有权删除该描述不符的商品；合作商家未对商品瑕疵等信息进行披露或对商品的描述与买家收到的商品不相符，且影响买家正常使用的，咖布集有权下架该描述不符的商品。</p>
                <p>（十一）违背承诺的，合作商家须履行双方协商达成一致的承诺；</p>
                <p>（十二）恶意评价的，咖布集或评价方有权删除该条违规评价；</p>
                <p>（十三）不当注册的，咖布集有权对使用软件、程序方式大批量注册而成的账户进行查封；并对滥用权利导致的订单予以关闭；</p>
                <p>（十四）未依法公开或更新营业执照信息的，合作商家需公开或更新其营业执照信息；</p>
                <p>（十五）不当使用他人权利的，咖布集有权对用户所发布的不当使用他人权利的商品或信息进行删除；</p>
                <p>（十六）假冒材质成份的，咖布集有权对合作商家所发布的假冒材质成份的商品进行删除，并报质检部门处理。</p>
                <p>第四十条 被执行节点处理的合作商家，当其全部违规行为被纠正、违规处理期间届满，缴纳对应的保证金，方可恢复正常状态。</p>
                <p>第四十一条 就合作商家的首次或者非故意实施的违规行为，咖布集网将视情形给予纠正和教育,并要求用户进行自检自查。</p>
                <p>第四十二条 用户可在被违规处理之时起总计十五天内(咖布集审核时间除外)通过线上违规申诉入口提交违规申诉申请。</p>
                <h5 style="color: #555;margin-top: 20px;margin-bottom: 20px">第三节 严重违规行为</h5>
                <p>第四十三条 发布违禁信息，是指用户发布的信息中，构成违反《咖布集商品发布规则》的商品或信息。</p>
                <p>第四十四条 盗用他人账户，是指盗用他人咖布集账户或支付账户，涉嫌侵犯他人财产权的行为；</p>
                <p>第四十五条 恶意泄露用户信息，是指未经允许发布、传递他人隐私信息，涉嫌侵犯他人隐私权的行为；</p>
                <p>第四十六条 不配合处理投诉，是指咖布集网受理投诉后，双方未能给予有效申诉或者咖布集网给出仲裁结果后，双方未予以及时的配合。</p>
                <p>第四十七条 骗取他人财物，是指以非法获利为目的，非法获取他人财物，涉嫌侵犯他人财产权的行为；</p>
                <p>第四十八条 扰乱市场秩序，是指通过不正当方式，刻意规避咖布集规则或市场管控措施的行为；</p>
                <p>第四十九条 不正当谋利，是指用户采用不正当手段谋取利益的行为，包括：</p>
                <p>（一）向咖布集工作人员及其关联人士提供财物、消费、款待或商业机会等；</p>
                <p>（二）通过其他手段谋取不正当利益的。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1、无库存商品，是指商品缺货超过48小时却一直处于在售状态的商品；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2、重复铺货，完全相同以及商品的重要属性完全相同的商品，发布一次以上的行为；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3、以非常规的价格发布商品的；</p>
                <p>（三）在商品类页面和详情页描述错误的商品信息：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1、商品信息中缺少标题、主图、详情页等实物图片、细节图；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2、商品类目或属性不符，是指所发布的商品没有按照商品的属性归类导致平台商品列表杂乱，如咖啡器具类的商品放置在咖啡豆类产品上；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3、商品描述不符，是指商品标题或商品详情包括重量、颜色、材质等重要属性描述与所展示的图片或实物不符；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;4、商品的价格或邮费，违背市场规律和所属行业标准的（包含但不仅限于如下情况：“滤纸”，商品价格1元，快递50元）；</p>
                <p>（四）在商品类、装修区或咖布集资讯类页面发布以下信息：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1、发布任何咖布集网以外的网站链接及文字介绍，包括图片水印链接；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2、发布扰乱平台秩序的信息，在咖布集商城内或者通过聊天工具等发布产品信息、或者诱惑买家使用其他线下支付方式扰乱咖布集网交易平台等内容，如发布个人银行账户及支付宝账号信息等的；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3、在禁止发布商品信息的论坛、资讯、咖布集微博板块发布广告信息的；</p>
                <p>第五十一条 虚假交易，是指通过不正当方式提高账户信用积分和或商品销量为目的，提供虚构、伪造的交易凭证或在线生成虚假交易数据妨害买家权益的行为。</p>
                <p>（一）通过不正当方式所提高的信用积分占账户总信用积分百分之八十以上的；违规笔数在十笔以上或违规订单金额在一万元以上的；</p>
                <p>（二）通过不正当方式所提高的信用积分占账户总信用积分百分之五十以上但百分之八十以下；违规笔数在十笔以下或违规订单金额在一万元以下的。</p>
                <p>（三）其它通过不正当方式提高账户信用积分的；</p>
                <p>（四）通过不正当方式提高商品销量的。</p>
                <p>第五二条 商品描述不符，是指买家收到的商品或经咖布集官方抽检的商品与达成交易时合作商家对商品与网上描述不符，或与双方约定存在严重不符的情况，或商品质量影响正常使用。</p>
                <p>第五十三条 恶意骚扰，是指买、卖双方在咖布集网交易中或交易后，一方采取恶劣手段骚扰另一方，妨害用户服务满意权益，降低用户的交易安全感；</p>
                <p>第五十四条 不当注册，是指用户通过软件、程序等方式，大批量注册咖布集账户；或通过已注册的咖布集账户，滥用用户权利损害他人合法权益、妨害咖布集网运营秩序的行为。</p>
                <p>第五十五条 不当使用他人权利，是指用户发生以下行为：</p>
                <p>（一）合作商家出售商品涉嫌不当使用他人商标权、著作权、专利权等权利的；</p>
                <p>（二）合作商家所发布的商品信息或所使用的其他信息造成消费者混淆、误认或造成不正当竞争的。</p>
                <p>注：同一权利人在三天内对同一合作商家的投诉视为一次投诉。</p>
                <p>第五十六条 霸王条款，是指合作商家单方面制定的逃避咖布集网总则及相关平台规则制定的商家义务、减免自身责任的不平等格式合同、通知、声明或产品告示或者行业惯例等，限制消费者权利，将不平等的消费条款强加给消费者，严重侵害消费者利益。 包括但不限以下行为：</p>
                <p>（一）商品有质量问题，但是合作商家申明拒绝退货退款，只接受换货；</p>
                <p>（二）如因产品原因无故不履行退换服务，自行制定一系列违背包退换服务的新规定；</p>
                <p>（三）双方协商交易退货退款，合作商家及咖布集服务商强制要求买家须确认收货或给予好评后才能退货退款，妨害买家权益；</p>
                <p>第五十七条 违背承诺，是指合作商家未按照约定向买家提供承诺的服务，妨害买家权益的行为。咖布集官方发布的其他管理内容（包括但不限于规则、规范、类目管理标准、行业标准等）另有规定的从其特殊规定。包括不限以下行为：</p>
                <p>（一）咖布集网判定合作商家确实应该承担退换货等售后保障责任但合作商家拒绝承担；</p>
                <p>（二）加入咖布集官方活动的合作商家，未按照活动要求（交易双方另有约定除外）提供服务；</p>
                <p>（三）合作商家拒绝按照买家拍下的价格交易的（交易双方另有约定的除外）；</p>
                <p>（四）交易订立过程中合作商家承诺给予买家赠品或发票等交易商品之外的物品，但实际拒绝赠与的；</p>
                <p>（五）交易订立过程中合作商家自行承诺退换货、包维修等服务，但实际未履行的；</p>
                <p>（六）交易订立过程中合作商家自行承诺承担发货或退换货的运费，但实际未履行的；</p>
                <p>（七）交易订立过程中合作商家自行承诺或与买家约定特定运送方式，特定运送物流、快递公司等，但实际未遵从相关承诺或约定的；</p>
                <p>（八）合作商家拒绝给予买家，其曾在交易过程中与之达成的对商品价格的个别优惠或折扣；</p>
                <p>（九）合作商家违背其自行作出的其他承诺；</p>
                <p>第五十八条 延迟发货，是指除定制、预售、适用特定运送方式的商品外，合作商家在买家付款72小时内未发货，妨害买家权益的行为。买卖双方另有约定的除外。合作商家的发货时间，以快递公司系统内记录的时间为准。</p>
                <p>第五十九条 成交不卖，是指除特殊情况外，买家在咖布集网上下单付款后，合作商家因个人无正当理由拒绝发货或中止发货（如擅自召回已发出但未送达的货物等）在没有和买家协商一致的情况下单方面取消了订单。</p>
                <p>第六十条 收款不发货，是指买、卖双方在咖布集网上成交后，合作商家已确认发货状态，但实际没有履行发货义务；或无正当理由拒绝发货以及退款。</p>
                <p>第六十一条 虚假发货，是指买、卖双方在咖布集网上成交后，合作商家已标记发货但未真实发货，或标记的发货内容与真实的发货内容不符。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">第七章 附则</h4>
                <p>第六十二条 本规则定于2016年11月15日生效。</p>
                <p>第六十五条 咖布集用户的行为，发生在本规则生效或修订以前的，适用当时的规则；发生在本规则生效或修订以后的，适用本规则。</p>
                <p>第六十六条 咖布集网有权不定时修订本规则并公示，修订后的规则于公示日或公示内容指定日生效。</p>
                <p>第六十七条 本规则最终解释权归咖布集网所有。</p>
            </div>
        </div>
    </div>
</div>