<div>
    <div class="container header-width container-padding">
        <div class="row">
            <div class="col-md-12 col-xs-12 no-padding">
                <a href="http://cn.mikecrm.com/95qONDu">
                    <img class="img-responsive" src="../image/jjc/supplier-recruitment.jpg" alt="咖布集是国内领先的第三方电子商务平台，专注为咖啡、水吧台用户提供全方位的原辅料供应及运营解决方案，实现每个流通环节的资源整合。致力于国内咖啡业S2B2C全渠道一体化电商平台，通过平台把生产商、服务商、终端客户产业链紧密连接在一起，全面提高咖啡业的电子化能力。用“互联网+咖啡”新思维对传统的渠道营销模式进行了重构，为厂商和客户打造一个全流程S2B2C在线交易供应链生态圈。商家通过平台快速了解市场需求，将线下工作线上化，单一传达交互化，市场管理数据化，让咖啡、水吧台生意更容易。">
                </a>
            </div>
        </div>
    </div>
</div>