<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px">关于我们</h2>
        <h3>商家入驻</h3>
        <h4>供应商入驻要求</h4>
        <h4>1、餐饮、水吧台、烘培、酒店用品等相关行业。原料、设备生产厂家或国内一级代理商；</h4>
        <h4>2、依法成立的组织，所生产及销售的产品满足国家法律法规的要求；</h4>
        <h4>3、认同“咖布集”平台的经营理念。</h4>
        <div class="col-md-12" style="padding-left: 0">
            <h4>入驻流程</h4>
            <div class="col-md-offset-1 col-md-12">
                <div class="col-md-2">
                    <img ng-src="jjc/assets/images/f-20.png" style="width: 100%;height: auto;">
                </div>
                <div class="col-md-2">
                    <img src="jjc/assets/images/f-21.png" style="width: 100%;height: auto;">
                </div>
                <div class="col-md-2">
                    <img src="jjc/assets/images/f-22.png" style="width: 100%;height: auto;">
                </div>
                <div class="col-md-2">
                    <img src="jjc/assets/images/f-23.png" style="width: 100%;height: auto;">
                </div>
                <div class="col-md-2">
                    <img src="jjc/assets/images/f-24.png" style="width: 100%;height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>