<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px">关于我们</h2>
        <h3>联系我们</h3>
        <div class="col-md-12" style="padding-left: 50px;margin-top: 20px">
            <div class="col-md-3">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="jjc/assets/images/f-7.png" style="width: 64px;height: 64px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="line-height: 64px">0756-6858865</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="jjc/assets/images/f-26.png" style="width: 64px;height: 64px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="line-height: 64px">13128568595</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="jjc/assets/images/f-8.png" style="width: 64px;height: 64px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="line-height: 64px">3420999385</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="jjc/assets/images/f-9.png" style="width: 64px;height: 64px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="line-height: 64px">@咖布集</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="border: none">
                    <img src="jjc/assets/images/f-6.png" alt="">
                    <div class="caption">
                        <h4 style="text-align: center">官方微信</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>