<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px"> 配送流程</h2>
        <h3 style="text-indent: 10px">配送范围</h3>
        <div class="col-md-7" style="margin-left: 10px">
            <h4 class="margin-top-20">1、个人客户全国范围内均可采取第三方物流进行配送。</h4>
            <h4 class="margin-top-20">2、商家客户同城配送范围如下图：</h4>
        </div>
        <div class="col-md-7">
            <img src="jjc/assets/images/f-19.png" style="width: 100%;height: auto;">
        </div>
    </div>
</div>