<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px"> 配送流程</h2>
        <h3 style="text-indent: 10px">配送须知</h3>
        <div style="margin-left: 10px">
            <h4 class="margin-top-20">本站除个人客户外均享受同城配送服务，您在本站购物后当地服务商会第一时间同您取得联系。并确认订单信息和配送时间。同城无服务商的将会启动第三方物流配送系统，以配送信息为准。</h4>
            <h4 class="margin-top-20">在配送过程中如遇天气等不可抗力因素，部分地区可能造成短时间无法配送，敬请谅解。 </h4>
            <h4 class="margin-top-20">若客户由于自身原因如填写的收货地址、电话有误，收货人电话无人接听、停机或收货人不在等情况，造成的延时如本站无关。</h4>
        </div>
    </div>
</div>