<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px"> 关于支付</h2>
        <h3>在线支付</h3>
        <div>
            <div class="">
                <div class="col-md-12" style="padding-left: 0">
                    <div class="media" style="margin-top: 30px">
                        <div class="media-left">
                            <img class="media-object" src="jjc/assets/images/f-16.png" style="width: auto;height: 150px;margin-top: -50px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"> 咖布集电商平台上线初期，支持支付宝在线支付方式，可采取支付宝扫码支付或者直接登录支付。支付宝的注册等详细介绍请登录支付宝网站查询。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0">
                    <div class="media" style="margin-top: 0px">
                        <div class="media-left">
                            <img class="media-object" src="jjc/assets/images/jjc/f-17.png" style="width: auto;height: 65px;margin-top: 0px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" style="line-height: 65px;"> 微信及其他第三方支付方式正在开发中。给您带来不便请谅解。</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0">
                    <div class="media" style="margin-top: 30px">
                        <div class="media-left">
                            <img class="media-object" src="jjc/assets/images/f-18.png" style="width: auto;height: 75px;margin-top: 0px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" style="line-height: 75px;"> 网银等在线银行支付方式正在开发中，给您带来不便请谅解。</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>