<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px">下单指引</h2>
        <h3>用户注册</h3>
        <h4 class="margin-top-20">1、登录"咖布集网站<a href="www.kbjbuy.com">www.kbjbuy.com</a>",点击登录，输入用户名、密码。</h4>
        <div class="col-md-12 margin-top-20" style="padding-left: 0">
            <img src="jjc/assets/images/f-12.png" style="width: 100%;height: auto">
        </div>
        <div style="margin-top: 170px">
            <div class="row margin-top-30">
                <div class="col-md-4"><h4>2、选择产品并加入“购物车”，点击购物车确认产品信息点击“下一步”</h4></div>
                <div class="col-md-4"><h4>3、输入配送信息，点击下一步</h4></div>
                <div class="col-md-4"><h4>4、完成支付，商家客户可选择货到付款</h4></div>
            </div>
            <div class="row margin-top-30">
                <div class="col-md-4"><img src="jjc/assets/images/f-13.png" style="width: 100%;height: auto"></div>
                <div class="col-md-4"><img src="jjc/assets/images/f-14.png" style="width: 100%;height: auto"></div>
                <div class="col-md-4"><img src="jjc/assets/images/f-15.png" style="width: 100%;height: auto"></div>
            </div>
            <div class="row margin-top-30">
                <div class="col-md-4"><h4>5、等待收货</h4></div>
                <div class="col-md-4"><h4>6、收货确认并好评</h4></div>
            </div>
        </div>
    </div>
</div>