<div>
    <div class="container" style="padding-bottom: 60px">
        <div class="row" style="border: 1px solid #eee;padding-bottom: 20px;margin-top: 70px">
            <div class="col-md-10 col-md-offset-1" style="border-bottom: 1px #eee solid;margin-top: 15px;padding: 0">
                <h2 style="text-align: center;color: #555">卖家售后服务细则</h2>
            </div>
            <div class="col-md-12 margin-top-20">
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">一、商品签收：</h4>
                <p>1、当面验收：</p>
                <p>为保障客户自身权益，客户应按商品详情页面提示在签收商品前应对商品当面验收，检查货物外包装及内物外观，在确定货物完好无损后，再进行签收；如果物流公司不支持先验货再签收，请致电卖家协商之后拒绝签收。如在验收过程中如发现外包装破损、商品出现破损、少件等问题，客户需自行拍照并让配送人员签字，以保留相关证据，并联系当地服务商进行核实处理；如客户未进行验收即做签收，将默认为客户已经对商品进行了表面验收，后期商品出现破损、少件等问题咖布集平台有权拒绝赔付或补发，出现争议后，买卖双方应协商处理，若双方无法就该问题协商达成一至的，任何一方可在客户提出退款申请后要求咖布集客服介入以协助双方处理解决。</p>
                <p>2、委托他人代收：</p>
                <p>委托他人代收的行为视同于客户本人已对商品进行签收，客户不能因此拒收商品，若拒收，运费将由客户自行承担。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">二、配送及安装：</h4>
                <p>针对设备类产品含（半自动、全自动咖啡机、冷柜、制冰机等大型设备）配送方式，请买家仔细阅读或者咨询客服。</p>
                <p>1、送至物流点自提：</p>
                <p>客户需要自行到物流点提货、搬运并安装（物流自提点之外产生的运输费用由客户自行承担），服务商发货前会与客户沟通确认自提地点和时间；如发货前客户已确认同意自提，因客户拒绝自提导致的退货运费，由客户自行承担。</p>
                <p>2、安装：</p>
                <p>1） 大型需要安装的设备，可提前同当地服务商联系沟通安装调试时间，安装调试完成后以客户签收单为准。已经安装调试好的设备除质量问题将不予退货。</p>
                <p>2） 为保障客户自身权益，当地服务商在安装完成后请认证测试。</p>
                <h4 style="color: #555;margin-top: 20px;margin-bottom: 20px">三、商品退换货服务：</h4>
                <p>目前，经咖布集平台卖出的商品，除个人客户外咖布集平台不提供线上退换流程，如需退换，请与当地服务商联系协商，不能调和的请申请官方客服介入，如有不便，敬请谅解，咖布集将尽快完善线上退换流程。</p>
                <p>1、退换货时限：</p>
                <p>A．退货：除产品质量外不支持退货，当地服务商协商一致例外；</p>
                <p>B．换货：客户自签收之日起7日内可申请换货；</p>
                <p>C．定制类商品不支持无理由退换货。</p>
                <p>2、退换货原因：</p>
                <p>A:商品售出时即存在质量问题。</p>
                <p>B：同服务商协商一致。</p>
                <p>3、退换货条件：</p>
                <p>A．如因质量问题无条件退换货；</p>
                <p>B. 同服务商沟通意见一致。</p>
                <p>4、处理流程：</p>
                <p>A．如在咖布集平台购买的产品出现退换货，咖布集买方第一时间同线下服务商协商解决，未达成一致的，任何一方可在客户提出退款申请后要求商城官方客服介入以协助双方处理解决；</p>
                <p>B．对于商品质量问题，客户需向服务商提供证据，若服务商收到证据后，确认商品本身确实存在质量问题，应接受退货或者换货。</p>
                <p>C．如因产品描述不清晰等原因导致商品尺寸错误、或者商品样式、材质及服务标准与页面不符，卖家应按照页面描述履约，如客户要求退货或者换货，产生的退换货运费应由卖家承担，因拍摄设备、光线、显示器等原因产生的色差问题，以及因商品测量标准不一致导致的尺寸问题在相关标准规定的尺寸误差范围内的，均不属于商品质量问题；</p>
                <p>5、运费：</p>
                <p>非商品质量问题且非因卖家原因而由客户发起的退换货行为，运费承担分以下两种:</p>
                <p>1）卖家包邮商品，客户承担退换货时产生的运费；</p>
                <p>2）卖家非包邮商品，所有运费均由客户承担。</p>
                <p>客户拒收交易（非货到付款）的货物，原则上：</p>
                <p>若为有理由拒收（商品有质量问题、少货等情况），卖家非包邮商品，由卖家承担全部运费；卖家包邮商品，由卖家承担商品退回时产生的运费；</p>
                <p>若为无理由拒收（商品无质量问题、少货等情况），卖家非包邮商品，由客户承担全部运费；卖家包邮商品，由客户承担商品退回时产生的运费。</p>
                <p>出现争议时，买卖双方应协商处理，若双方无法就退换货、拒收商品的运费问题协商达成一致的，任何一方可申请要求咖布集介入协助双方处理解决。</p>
            </div>
        </div>
    </div>
</div>