<div>
    <div class="container" style="padding-bottom: 40px">
        <h2 style="margin-top: 50px">下单指引</h2>
        <h3>用户注册</h3>
        <h4>1、登录"咖布集网站<a href="/">www.kbjbuy.com</a>",点击注册如图</h4>
        <div class="col-md-12 margin-top-20" style="padding-left: 0;">
            <img src="jjc/assets/images/f-10.png" style="width: 100%;height: auto">
        </div>
        <div style="margin-top: 150px;">
            <div class="col-md-8" style="padding-left: 0;">
                <h4 class="margin-top-30">2、选择注册身份"商家、个人",其中商家是指企业客户个体商家客户,商家客户需要提交对应的资料,确认身份以便享受更多优惠。</h4>
                <h4 class="margin-top-30">3、输入用户名、手机号，通过手机验证码注册。</h4>
                <h4 class="margin-top-30">4、设置登录密码。</h4>
                <h4 class="margin-top-30">5、阅读用户注册协议。</h4>
                <h4 class="margin-top-30">5、用户注册成功。</h4>
            </div>
            <div class="col-md-4 margin-top-30">
                <img src="jjc/assets/images/f-11.png" style="height: auto;width: 100%">
            </div>
        </div>

    </div>
</div>